# xLedgRSv2Beta testnet config
#
# Safe testnet follower template.

[server]
port_rpc
port_peer
port_ws

[port_rpc]
ip = 127.0.0.1
port = 5055
protocol = http

[port_peer]
ip = 0.0.0.0
port = 51235
protocol = peer

[port_ws]
ip = 127.0.0.1
port = 6006
protocol = ws

[peers_max]
100

[ips]
r.altnet.rippletest.net 51235

[network_id]
testnet

[ledger_history]
full

[fetch_depth]
full

[node_db]
type = redb
path = ./xLedgRSv2Beta-testnet-data

[validators_file]
./validators.txt

[xLedgRSv2Beta]
enable_consensus_close_loop = 0
post_sync_checkpoint_script = ./post-sync-checkpoint.sh
